university website requirements/ features

1.student login and student details including name, email, address, parents name ,year , stream of study/dept, semester,age,contact info, Dob, etc
2. login details  university roll number / email and password.
3. student page / profile should display basic details like dept, email, contact, roll number, marks/ percentage etc, Attendance is mandatory
all the above details should come under erp page/ erp login for students

now for the univeristy's social presence
1)admissions page containing course fee for each department and a basic for to fill for admission request for admission on submit it should reach the administrative dept of the university.
2) the form should contain name, email, contact, a pdf of intermediate results , idproof etc

the landing page should contain some crousels  showing the universty events and curicculum of the university, academic side, events that happen at
the university, including sports events technical events, hackathons,

it shold conatin a section about the mission, vision and goal of the university, describing the core values of the institute,

About section of the university should contain location details, social media handles like linkedIn, Instagram facebook , youtube etc

the placements section should contain detalils about the training & placemets officers details, and companies that took part in campus hig=ring etc

Highlight a apply now button for admissin apply that should redirect the user to admission form